<div class="container" id="header">
    <div class="nav-container">
        <a routerLink="app-root" routerLinkActive="active-link" class="nav-logo">ALEX.</a>
        <div class="nav-links" id="nav-menu">
            <ul class="nav-list grid">
                <li class="nav-item" *ngFor="let link of links">
                    <a routerLink="{{link.path}}" routerLinkActive="active-link" class="nav-link">
                        <i class="uil uil-estate nav-icon"></i>{{link.title}}
                    </a>
                </li>
            </ul>
            <i class="uil uil-times nav-close" id="nav-close"></i>
        </div>
        <div class="theme-btn">
            <i class="uil uil-moon change-theme" id="theme-button"></i>
            <div class="nav-toggle" id="nav-toggle">
                <i class="ui uil-apps"></i>
            </div>
        </div>
    </div>
</div>
