<div class="social-container">
    <div class="social-circle">
        <a href="https://www.linkedin.com/in/alessandro-bellotta/" target="_blank" class="social-icon">
            <i class="uil uil-linkedin-alt"></i>
        </a>
    </div>
    <div class="social-circle">
        <a href="https://github.com/alexbellotta" target="_blank" class="social-icon">
            <i class="uil uil-github-alt"></i>
        </a>
    </div>
    <div class="social-circle">
        <a href="https://www.instagram.com/just.alex98/?next=%2F" target="_blank" class="social-icon">
            <i class="uil uil-instagram"></i>
        </a>
    </div>
    <div class="social-circle">
        <a href="https://www.facebook.com/alessandro.bellotta.16" target="_blank" class="social-icon">
            <i class="uil uil-facebook-f"></i>
        </a>
    </div>
    <div class="social-circle">
        <a href="https://twitter.com/alebellotta98" target="_blank" class="social-icon">
            <i class="uil uil-twitter"></i>
        </a>
    </div>
</div>
