.hero-content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.hero-blob{
    width: 180px;
    fill: var(--first-color);
}

.hero-blob-img{
    width: 190px;
}

.hero-container{
    gap: 1rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.container{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* For large devices */
@media screen and (min-width: 768px){
    .hero-container{
        row-gap: 5rem;
    }

    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .hero-content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .hero-blob{
        width: 270px;
    }
}

/* For small devices */
@media screen and (max-width: 350px){
    .container{
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }

    .hero-content{
        grid-template-columns: .25fr 3fr;
    }

    .hero-blob{
        width: 180px;
    }
}

/* For medium devices */
@media screen and (min-width: 568px){
    .hero-content{
      grid-template-columns: max-content 1fr 1fr;
    }

    .hero-img{
        order: 1;
        justify-self: center;
    }
}

@media screen and (min-width: 1024px){
    .hero-blob{
        width: 320px;
    }
}